/** BASIC */

body {
	margin: 0px;
	padding: 0px;
	background: #000000 url(../img/bg01.jpg) repeat-x left top;
}

/** FORMS */

form {
	margin: 0px;
	padding: 0px;
}

.input1 {
	width: 138px;
	height: 16px;
	margin: 0px;
	padding: 4px 0px 0px 4px;
	border: none;
	background: #371711 url(../img/homepage08.jpg) no-repeat left top;
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color: #A78E91;
}


/** HEADINGS */

h1, h2, h3, h4, h5, h6 {
	margin: 0px;
}

/** TEXTS */

body, th, td, input, textarea, select {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #664D28;
}

p, blockquote, ul, ol, dl {
	margin-top: 0px;
	margin-bottom: 1em;
	text-align: justify;
}

.ul1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.ul1 li {
	padding: 4px 0px 6px 14px;
	background: url(../img/homepage11.jpg) no-repeat left bottom;
}

.ul1 a {
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color: #C6B779;
}

.ul1 .last {
	padding-bottom: 10px;
	background: none;
}

.ul2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.ul2 li {
	display: block;
	float: left;
	width: 173px;
	height: 34px;
	margin: 0px;
	padding: 2px 0px 0px 15px;
}

.ul2 em {
	display: block;
}

.ul3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.ul3 li {
	display: block;
	float: left;
	width: 173px;
	height: 20px;
	margin: 0px;
	padding: 5px 0px 0px 15px;
}

.ul3 a {
	float: left;
}

.ul3 em {
	float: right;
	padding-right: 15px;
}

.text1 {
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color: #AE9B86;
}

.text2 {
	text-align: center;
	color: #404454;
}

/** LINKS */

a {
	color: #83582A;
}

a:hover {
	text-decoration: none;
}

a.link1 {
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color: #E7B851;
}

a.link2 {
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	color: #C6B779;
}

a.link3 {
	clear: both;
	display: block;
	height: 25px;
	background: url(../img/homepage25.jpg) no-repeat left top;
}

a.link3 b {
	position: absolute;
	left: -10000px;
}

/** STYLES */

.style1 {
	padding: 20px 25px 10px 20px;
}

.style1 h2 {
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	color: #4C3412;
}

.style1 h3 {
	margin-bottom: 15px;
	font-size: 10px;
	font-weight: normal;
	color: #9A7C3A;
}

.style1 h4 {
	font-size: 11px;
}

.style1 a {
}

.style1 a:hover {
}

.style2 {
	font: normal 10px Georgia, "Times New Roman", Times, serif;
	font-style: normal;
	color: #6F5D4C;
}

.style2 a {
	color: #A09360;
}

.style3 {
	padding: 20px 25px 10px 20px;
}

.style3 h2 {
	font: normal 18px Georgia, "Times New Roman", Times, serif;
	color: #4C3412;
}

.style3 h3 {
	margin-bottom: 15px;
	font-size: 10px;
	font-weight: normal;
	color: #9A7C3A;
}

.style3 h4 {
	font-size: 11px;
}

/** BACKGROUNDS */

.bg1 {
	background: url(../img/bg1_01.jpg) no-repeat left top;
}

.bg2 {
	background: url(../img/bg1_02.jpg) repeat-y left top;
}

.bg3 {
	background: url(../img/bg1_03.jpg) no-repeat left bottom;
}

.bg4 {
	background: url(../img/homepage07.jpg) repeat left bottom;
}

.bg5 {
	background: url(../img/homepage14.jpg) no-repeat center top;
}

.bg6 {
	background: url(../img/homepage23.jpg) no-repeat left top;
}

.bg7 {
	background: url(../img/homepage24.jpg) no-repeat left top;
}

.bg8 {
	background: url(../img/homepage28.jpg) no-repeat left top;
}

.bg9 {
	background: url(../img/homepage29.jpg) no-repeat left top;
}

.bg10 {
	background: url(../img/bg2_01.jpg) no-repeat left top;
}

.bg11 {
	background: url(../img/bg2_02.jpg) repeat-y left top;
}

.bg12 {
	background: url(../img/bg2_03.jpg) no-repeat left bottom;
}

/** MISC */

.align-justify { text-align: justify; }
.align-right { text-align: right; }

img { border: none; }

.img1 {
	float: left;
	margin: 3px 15px 0px 0px;
}

.img2 {
	float: right;
	margin: 3px 0px 0px 15px;
}

hr { display: none; }

.hr1 {
	margin-bottom: 10px;
	height: 2px;
	background: url(../img/homepage26.jpg) no-repeat left center;
}

